/* ESTRUTURA DO FORMULARIO */
body .ui-widget-header {
	background-color: #031634 !important;
}

body .ui-datatable .ui-datatable-footer{
	background-color: #fff !important;
	border: none;
}

body .ui-panel .ui-panel-content {
	border: 2px solid;
	padding: 8px !important;
}

.ui-dialog-content.ui-widget-content{
	border: 1px solid !important;
}

span.ui-panel-title{
	font-weight: normal !important;
}

a.ui-paginator-first span{
	color: #fff !important;
}

body .ui-paginator .ui-paginator-prev:before, 
body .ui-paginator .ui-paginator-last:before, 
body .ui-paginator .ui-paginator-first:before,
body .ui-paginator .ui-paginator-next:before  {
    position: relative;
    left: -7px;
    color: #fff;
    top: -1px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	text-shadow: none !important;
}

.ui-selectonemenu{
	border: 0px !important;
}

.ui-selectonemenu:hover{
	border: 0px !important;
	box-shadow: none;
}


.ui-state-default, .ui-widget-content .ui-state-hover{
	border-color: #a8a8a8 !important; 
}

a.menu-pin-button{
	display: none;
}

/* Titulo do Formul�rio */
h4.title-form {
	padding: 0;
	margin: 2px;
	text-transform: uppercase;
	position: relative;
	top: -7px;
}

/* i.fa.fa-user {
    position: absolute;
    color: #fff;
    font-size: 20px;
    margin-top: 7px;
    margin-left: 12px;
} */

body .ui-panel:before{
	position: absolute;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    margin-top: -3px;
}

body .ui-panel .ui-panel-titlebar .ui-panel-title{
	font-weight: bold;
}

body .ui-panel span.ui-panel-title{
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon .ui-icon{
	top:0;
	padding-left: 0;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
	font-weight: 400;
	color: #fff;
}

.ui-dialog .ui-dialog-content {
	border: 1px solid;
}

/* Icone do Formul�rio */
span.ui-icon.ui-icon-group.ui-icon-form {
	font-size: 30px !important
}

body .ui-icon {
	font-size: 20px !important;
	padding-right: 0 !important;
}

body .ui-widget-header .ui-icon {
	position: relative;
	top: 7px;
}

/* Inputs */
body .ui-widget-content {
	
}

.ui-selectonemenu-panel .ui-selectonemenu-filter{
	width: 80% !important;
	margin-right: 0px;
}

label {
    padding: 0  5px 0 0;
}
.fa-fw{
	width: 1em !important;
}

body .ui-selectonemenu .ui-selectonemenu-label.ui-inputfield{
	padding: 6px !important;
}

body .ui-selectonemenu .ui-selectonemenu-label.ui-inputfield:focus, body .ui-selectonemenu .ui-selectonemenu-label.ui-inputfield:active{
	border-color:red;
}

.text-center {
	text-align: center;
}

.ui-fluid .ui-inputtext {
	width: 50%;
}

.ui-grid-row {
	padding-top: 20px;
}

.ui-grid-row.ui-grid-row-2 {
	padding-top: 20px;
	padding-bottom: 10px;
}

.ui-grid-row.ui-grid-row-3 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield {
	font-weight: normal;
	position: relative;
}

body .ui-inputfield {
	border-width: 1px 1px 1px 1px !important;
	padding: 5px 1px;
	border-radius: 2px;
}

body .md-inputfield label {
	top: -15px !important;
	left: 0px !important;
	font-weight: bold !important;
}

label.label-text {
	color: #031634 !important;
}

body .ui-inputfield.ui-state-focus {
	border-color: #031634 !important;
	padding: 5px 0;
}

body .md-inputfield input:focus ~ label {
	top: -10px !important;
	font-size: 15px !important;
	color: #031634 !important;
	font-weight: bold;
}

/* CALENDARIO */
input#button_input {
	position: relative;
	top: 2px;
}

span.ui-button-icon-left.ui-icon.ui-icon-calendar {
	color: #031634;block
}

body .md-inputfield input:focus ~ label, body .md-inputfield input.ui-state-filled 
	 ~ label, body .md-inputfield textarea:focus ~ label, body .md-inputfield textarea.ui-state-filled 
	 ~ label, body .md-inputfield .md-inputwrapper-focus ~ label, body .md-inputfield .md-inputwrapper-filled 
	 ~ label {
	top: -18px !important;
	font-size: 15px !important;
	color: #031634 !important;
	font-weight: bold;
}

/* CAMPO-SELECT */
body .ui-selectonemenu .ui-selectonemenu-label.ui-inputfield{
	border: 1px solid #bdbdbd !important;
	padding: 5px;
	margin-top: 3px;
}

body .ui-state-active, body .ui-state-highlight{
	background-color: #031634 !important;
	color: #fff;
}

.ui-icon-search:before {
    position: relative;
    top: 5px !important;
    right: 8px;
    padding: 0 10px;
}

body .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon{
	color: #fff !important;
    padding-left: 4px;
    width: 25px;
    height: 33px;
    background: #031634 !important;
    position: relative;
    top: 2px;
    border-radius: 0 3px 3px 0;
    box-shadow: none;
}

.ui-selectonemenu-trigger.ui-corner-right {
    border: 0px;
}

.ui-selectonemenu-trigger .ui-icon:hover{
	box-shadow: none !important;
	border: 0px !important;
}

.ui-state-focus, .ui-state-hover, .ui-widget-content .ui-state-focus{
	box-shadow: none !important;
}

body .ui-selectonemenu{
	border-bottom: 0;
}

/* VALIDA��O DE CAMPOS */
span.fa.fa-check {
	position: relative;
	top: 6px;
	color: green;
	font-size: 20px;
	display: none;
}

span.fa.fa-check.combobox {
	top: -10px;
	right: 39px;
}

span.fa.fa-check.calendar {
	top: -4px;
	left: -30px;
}

/* AREA-BUTTONS */
.ui-panelgrid-content.ui-widget-content.ui-grid.ui-grid-responsive.ui-panel-button
	{
	margin-top: 5px;
	padding: 8px 8px !important;
}

.ui-grid-row.ui-area-button {
	padding: 0 !important;
	text-align: right;
}

/* BUTTONS */
body .ui-button.ui-button-text-icon-left {
	background-color: #031634 !important;
}

body .ui-button {
	background-color: #031634 !important;
}
/* FILTRO DE PESQUISA */
.ui-icon-search:before{
	/* content: "" !important; */
}

/* RESPONSIVE */
@media screen and (min-width: 64.063em) {
	body .ui-lg-1, body .ui-lg-2, body .ui-lg-3, body .ui-lg-4, body .ui-lg-5,
		body .ui-lg-6, body .ui-lg-7, body .ui-lg-8, body .ui-lg-9, body .ui-lg-10,
		body .ui-lg-11, body .ui-lg-12 {
		padding: 0.65em 2.75em;
	}
}