/* TOPO-LOGIN */

.login-body{
	position: relative;
	padding-top: 0;
	top: 20%;
	background: url("../resources/img/bg-logo.png");
	background-size:100%; 
}

.login-body .login-panel .login-header{
	background-color: #031634 !important;
}

body .ui-button {
	background-color:  #031634 !important;
}

body .ui-inputfield.ui-state-focus{
	border-color: #031634 !important;
}

body .md-inputfield input:focus ~ label, body .md-inputfield input.ui-state-filled ~ label, body .md-inputfield textarea:focus ~ label, body .md-inputfield textarea.ui-state-filled ~ label, body .md-inputfield .md-inputwrapper-focus ~ label, body .md-inputfield .md-inputwrapper-filled ~ label {
	color: #031634 !important;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active{
	border-color: #031634 !important;;
    background-color: #031634 !important;
}

.login-body .login-panel .login-header img {
    width: 90px !important;
    position: absolute;
    top: 14px;
    right: 30px;
}

/* INPUTS */
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield{
	-webkit-box-shadow: none !important;
	box-shadow: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	background: transparent !important;
	text-shadow: none;
}

body .ui-button .ui-button-text{
	margin-left: -25px;
}
